<h1>About Third Leaf Vineyard Consulting</h1>

<p>
After a 35-year career in medical instrumentation sales, Keith McConnell attended Napa Valley College where he earned degrees in Viticulture and Wine Sales and Marketing.  He started Third Leaf Vineyard Consulting in 2007 and specializes in the installation of residential vineyards that range from 1/4 acre to 1 1/2 acres.  He is experienced in establishing new vineyards or reviving neglected ones.  Services offered include trellising, irrigation, soil testing, pest management and diagnosis of diseases. </p>

<%= link_to "Home", '/home' %>
<%= link_to "Contact", '/contact' %>
<%= link_to "Review A Wine You've Had", new_wine_path %>