<h1>Contact</h1>



<p>Third Leaf Vineyard Consulting <br>
Keith McConnell <br>	
Owner/Viticulturalist <br>
(925) 209-5710</p>

<%= link_to "Home", "/home" %> <br>
<%= link_to "About", "/about" %> <br>
<%= link_to "Review A Wine You've Had", new_wine_path %> <br>
<%= link_to "Back To Wine List", wines_path %> 
