<h1>Third Leaf Vineyard Consulting </h1>


<%= image_tag "vinyard.jpg" , class: "vinyardImg" %><br>





<%= link_to "Review A Wine You've Had", new_wine_path, :class => "btn btn-success" %> <br>

<%= link_to "Log Out", logout_path, method: :delete %>