<h1>Fourth Leaf </h1>



             	<%= link_to "About Us", edit_wine_path( wine ) %>
				<%= link_to "Contact Us", wine_path( wine )
				<%= link_to "Review Wines", wines_path %>
      
    <% end %>
