<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user.firstname %></li>
  <% end %>
</ul>

<%= link_to "About", "/about" %> <br>
<%= link_to "Contact", "/contact" %> <br>
<%= link_to "Review A Wine You've Had", new_wine_path %>


